services:
 
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
  web:
    image: php:8.2-apache
    restart: always
    ports:
      - '8080:80'
    volumes:
      - .:/var/www/html
    depends_on:
      - db
volumes:
  db_data:
